button {
  display: block;
  width: 100%;
  border: none;
  color: $color-white;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}