.product__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  height: 52rem;
  position: relative;
  // background-color: greenyellow;

  &:hover {
    cursor: pointer;
  }
}

.product-info {
  background: $color-black-light-1;
  background-image: image("card-bg.svg");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: $color-white;
  flex: 0 0 89%;
  height: 45rem;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  // align-items: center;
  // position: relative;

  &>* {
    position: absolute;
    padding: 0 3.6rem;
  }

  &__name {
    bottom: 25rem;
  }

  &__region {
    bottom: 23rem;
    color: $color-grey-dark-1;
  }

  &__price {
    bottom: 18rem;
  }

  &__taste {
    bottom: 11rem;
    left: 1rem;
    display: flex;
    flex-flow: row wrap;
    transform: skew(160deg);
    padding: 1.5rem;
    border-radius: 5px;

    &--notes {
      transform: skew(-160deg);
      margin: 0 1rem;
    }
  }

  &__linebreak {
    height: .4rem;
    width: 5rem;
    right: 1rem;
    top: 5rem;

    @include respond(tab-land) {
      right: 1.5rem;
    }

    @include respond(phone) {
      right: .9rem;
    }
  }

  &__image {
    padding: 0;
    bottom: 5rem;
    right: -1rem;
    height: 72%;
    width: auto;

    //   @include respond(tab-land) {
    //     height: 100%;
    //     right: 6rem;
    //   }

    //   @include respond(phone) {
    //     height: 80%;
    //     right: -1rem;
    //   }

  }

}

.btn-buy {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}