// .section-product {
//   background: salmon;
//   display: flex;
//   flex-flow: column wrap;
//   justify-content: center;
// }

.products {
  // background: greenyellow;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));

}

// .section-product-detail {
//   // flex: 0 0 100%;
//   // display: flex;
//   // flex-flow: row wrap;
//   // justify-content: center;
//   // align-items: center;
//   // background-color: red;

//   .detail {
//     background: salmon;
//     // flex: 0 0 100%;
//   }

//   // &>* {
//   //   background: salmon;
//   //   flex: 0 0 60%;
//   // }

// }

.section-article {
  // background-color: greenyellow;
  height: 90vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;

  @include respond(phone) {
    height: 65vh;
    padding: 0;
  }
}


.article {
  height: 80vh;
  flex: 0 0 50%;
  background-image: linear-gradient(to right bottom,
      rgba($color-black-light-1, 0.7),
      rgba($color-black-light-1, 0.7)),
    url(../assets/whiskey-glass_small.jpg);
  background-size: cover;
  background-position: center;
  border-radius: .8rem;

  flex: 0 0 98%;
  display: flex;

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
  (min-width: 125em) {
    //600px/16 and 2000px
    background-image: linear-gradient(to right bottom,
        rgba($color-black-light-1, 0.7),
        rgba($color-black-light-1, 0.7)),
      url(../assets/whiskey-glass.jpg);
  }

  @include respond(phone) {
    height: 50vh;
  }

  &__text-box {
    padding: 1rem;
    margin: 7rem;
    flex: 0 0 51%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: inherit;

    // @include respond(tab-port) {
    //   flex: 0 0 70%;
    // }

    @include respond(phone) {
      flex: 0 0 90%;
      margin: 2rem;
      padding: .5rem;
    }

    &>* {
      padding: .5rem;
    }
  }
}

