.cart-container {
  @include container;
  @include easeOut;
  background: $gray;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100vh;
  overflow: hidden;

  .cart {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 90px;
    padding: 10px;
  }

  .cart-info {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
      "name cost quantity"
      "itemTitle  itemCost itemQuantity"
      "totalitems . totalcost"
      "purchase purchase purchase";
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 40px;
    width: 500px;
  }

  .name {
    grid-area: name;
    font-weight: bold;
  }

  .cost {
    grid-area: cost;
    font-weight: bold;
  }

  .quantity {
    grid-area: quantity;
    font-weight: bold;
  }

  .item-title {
    grid-area: itemTitle;
    text-transform: capitalize;
  }

  .item-cost {
    grid-area: itemCost;
  }

  .item-quantity {
    grid-area: itemQuantity;
  }

  .total-items {
    grid-area: totalitems;
  }

  .total-cost {
    grid-area: totalcost;
  }

  .purchase-btn {
    grid-area: purchase;
    background: $background-color;
    margin-top: 20px;
  }
}

.cart-icon {
  position: absolute;
  z-index: 3; 
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
}

.badge {
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: $text-color;
  font-size: 0.8rem;
  font-weight: bold;
}
