.products {
  @include container;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 20px;

  button {
    display: inline-block;
    width: 100%;
    border: none;
    color: $text-color;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
  }

  .back-btn {
    color: darken($gray, 30);
    cursor: pointer;
  }
}

.line {
  height: 4px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 50px;
}

.product-card {
  margin: 2px;
  margin-bottom: 50px;
  background: $background-color;
  background-image: image("card-bg.svg");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
  color: $text-color;
  height: 544px;
  position: relative;
  width: 400px;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.product-title {
  position: absolute;
  left: 0;
  top: 280px;
  padding-left: 36px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 5px;

  &.price {
    top: 370px;
  }
}

.product-region {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: $gray;
  padding-bottom: 19px;
  position: absolute;
  left: 0;
  top: 320px;
  padding-left: 36px;
}

.taste-info {
  position: absolute;
  left: -20px;
  bottom: 36px;
  height: 60px;
  transform: skew(160deg);
  border-radius: 7px;

  div {
    transform: skew(-160deg);
    display: inline-block;
    bottom: 36px;
    margin: 1px;
    padding: 15px 17px;
    text-transform: capitalize;
    font-style: normal;
    font-size: 1rem;
  }
}

.product-image {
  position: absolute;
  right: -40px;
  bottom: -40px;

  img {
    height: 500px;
    width: 160px;
  }
}