.product-container {
  @include container;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filter-container {
  @include container;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.filter {
  border: 1px solid color(gray);
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-decoration: none;
  margin: 5px;

  &:hover {
    background: color(gray);
    cursor: pointer
  }

  &.current {
    background: color(gray);
    border: 1px solid black;
  }

}

.image-container {
  background-image: image('card-bg.svg');
  background-color: black;
  background-repeat: none;
  background-size: contain;
}