$colors: (islands-dark: #9E1B34,
  islands-light: #D71E44,
  islay-dark: #6E2671,
  islay-light: #A5238E,
  highlands-dark: #322773,
  highlands-light: #563494,
  lowlands-dark: #174272,
  lowlands-light: #0663AE,
  speyside-dark: #007B46,
  speyside-light: #1AB467,
  campbeltown-dark: #D29D2A,
  campbeltown-light: #F3B41B,
  gray: #E8E8E8,
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};


@mixin container($width: 90%, $max-width: 60em) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
};

