@import "./variables";
@import "./ProductList";
@import "./Article";
@import "./Filter";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
}
