/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px //default font size of browser
*/
:export {
  islands: linear-gradient(to right, #D71E44, #9E1B34);
  islay: linear-gradient(to right, #A5238E, #6E2671);
  highlands: linear-gradient(to right, #563494, #322773);
  lowlands: linear-gradient(to right, #0663AE, #174272);
  speyside: linear-gradient(to right, #1AB467, #007B46);
  campbeltown: linear-gradient(to right, #F3B41B, #D29D2A);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 68.75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  font-style: italic;
  letter-spacing: -0.5rem;
  font-weight: 400;
  font-stretch: ultra-condensed;
}

.heading-primary--main {
  word-break: break-word;
  text-align: initial;
  line-height: 1;
}

.heading-secondary {
  padding: 10px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.4rem;
}

.paragraph--main {
  font-weight: 500;
  word-break: break-word;
  line-height: 1.5;
  text-align: initial;
}

button {
  display: block;
  width: 100%;
  border: none;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.products {
  width: 90%;
  margin: 0 auto;
  max-width: 90em;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.products button {
  display: inline-block;
  width: 100%;
  border: none;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.products .back-btn {
  color: #9a9a9a;
  cursor: pointer;
}

.line {
  height: 4px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 50px;
}

.product-card {
  margin: 2px;
  margin-bottom: 50px;
  background: #333;
  background-image: url("../assets/card-bg.svg");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
  color: #ffffff;
  height: 544px;
  position: relative;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card:hover {
  cursor: pointer;
}

.product-title {
  position: absolute;
  left: 0;
  top: 280px;
  padding-left: 36px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.product-title.price {
  top: 370px;
}

.product-region {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #e6e6e6;
  padding-bottom: 19px;
  position: absolute;
  left: 0;
  top: 320px;
  padding-left: 36px;
}

.taste-info {
  position: absolute;
  left: -20px;
  bottom: 36px;
  height: 60px;
  -webkit-transform: skew(160deg);
          transform: skew(160deg);
  border-radius: 7px;
}

.taste-info div {
  -webkit-transform: skew(-160deg);
          transform: skew(-160deg);
  display: inline-block;
  bottom: 36px;
  margin: 1px;
  padding: 15px 17px;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1rem;
}

.product-image {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

.product-image img {
  height: 500px;
  width: 160px;
}

.cart-container {
  width: 90%;
  margin: 0 auto;
  max-width: 90em;
  -webkit-transition: all 0.10s ease-out;
  transition: all 0.10s ease-out;
  border: 3px solid #e6e6e6;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

.cart-container .cart {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 90px;
  padding: 10px;
}

.cart-container .cart-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
      grid-template-areas: "name cost quantity" "itemTitle  itemCost itemQuantity" "totalitems . totalcost" "purchase purchase purchase";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 5px 40px;
  width: 500px;
}

.cart-container .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  font-weight: bold;
}

.cart-container .cost {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cost;
  font-weight: bold;
}

.cart-container .quantity {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: quantity;
  font-weight: bold;
}

.cart-container .item-title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: itemTitle;
  text-transform: capitalize;
}

.cart-container .item-cost {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: itemCost;
}

.cart-container .item-quantity {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: itemQuantity;
}

.cart-container .total-items {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: totalitems;
}

.cart-container .total-cost {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: totalcost;
}

.cart-container .purchase-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: purchase;
  background: #333;
  margin-top: 20px;
}

.cart-icon {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.10s ease-out;
  transition: all 0.10s ease-out;
}

.badge {
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
}

.checkout-container .form-field-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 15px;
}

.checkout-container .form-field-container:first-of-type {
  border-top: none;
}

label {
  min-width: 70px;
  padding: 11px 0;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  margin: 5px;
  width: 100%;
  padding: 11px 15px 11px 8px;
}

.checkout-error-message {
  color: #fa755a;
}

.payment-btn {
  background: #333;
  margin-top: 15px;
}

.StripeElement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.chip {
  width: 90%;
  margin: 0 auto;
  max-width: 90em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.chip--item {
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  padding: 7px 15px;
  margin: 5px;
}

.chip--item:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.chip--item.current {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.container {
  max-width: 114rem;
  margin: 5rem auto;
}

.section-article {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.article {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(51, 51, 51, 0.7)), to(rgba(51, 51, 51, 0.7))), url(../assets/whiskey-glass_small.jpg);
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(../assets/whiskey-glass_small.jpg);
  background-size: cover;
  background-position: center;
  border-radius: .8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .article {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(51, 51, 51, 0.7)), to(rgba(51, 51, 51, 0.7))), url(../assets/whiskey-glass.jpg);
    background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url(../assets/whiskey-glass.jpg);
  }
}

@media only screen and (max-width: 37.5em) {
  .article {
    height: 50vh;
  }
}

.article__text-box {
  padding: 1rem;
  margin: 7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51%;
          flex: 0 0 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: inherit;
}

.article__text-box > * {
  padding: .5rem;
}

.payment-success-container {
  width: 90%;
  margin: 0 auto;
  max-width: 90em;
  width: 475px;
  margin: 30px auto 0 auto;
  text-align: center;
}

.back-to-home {
  margin-top: 40px;
  color: #D71E44;
  text-decoration: underline;
}

.back-to-home:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */